<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
  <i class="material-icons">play_circle_filled</i>
</header>
<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card__supporting-text">
    <h4>{{model.title}}</h4>
    {{model.descriptionText}}
  </div>
  <div class="mdl-card__actions">
    <a href="{{model.link.href}}" class="mdl-button">{{model.link.title}}</a>
  </div>
</div>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1" data-upgraded=",MaterialButton,MaterialRipple">
  <i class="material-icons">more_vert</i>
<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
<div class="mdl-menu__container is-upgraded"><div class="mdl-menu__outline mdl-menu--bottom-right"></div>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1" data-upgraded=",MaterialMenu">
  <li *ng-for="#item of model.menu" class="mdl-menu__item" tabindex="-1">{{item.label}}</li>
</ul>
</div>
