<div class="mdl-layout__tab-panel is-active" id="overview">
		<rich-description-card class="gdg-card"></rich-description-card>
	 	<details-card class="gdg-card"></details-card>
		<description-card class="gdg-card"></description-card>
		<horizontal-footer-details></horizontal-footer-details>
</div>
<!-- GdgFooter component: the styles must be properly edited so the
	component can be renamed to 'gdg-footer'. It would make explicit
	the use of angular2 components and thus improve the readability. -->
<footer class="mdl-mega-footer"></footer>
